/* Colors */
:root {
    --white: #ffffff;
    --f8f8f8: #f8f8f8;
    --black: #212121;
    --powder-pink-kalim: #e4c0cf;
    --black-two-kalim: #232323;
}

/* Font Style */
@font-face {
    font-family: 'DIN';
    src: url(/component/DINCondensed-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    src: url(/component/Montserrat-Bold.ttf) format("truetype");
}


/* HTML */
* {
    padding: 0;
    margin: 0;
}

/* Top Part container */
.navBar {
    display: flex;
    height: 249px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
/* margin-left: 100px; */
    /* margin: 7vh 0 5vh 3vh; */
    display: flex;
    align-items: center;

}

/* Div Logo */
.logo img {
  
    width: 57%;
    
}

/* Div for all the buttons top navbar */
.navBtn {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

/* Changing the look of the "a" */
.navBtn a {
    text-decoration: none;
    /* margin: 0 3vh 0 3vh; */
    font-family: 'DIN';
    /* font-size: 1.8vh; */
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.4;
    font-size: 30px;
    letter-spacing: normal;
    color: var(--black-two-kalim);

}




/* Big image main page */
.bannerImg {
    padding-top: 2vh;
    /* height: 642px; */
}

.bannerImg img {
    width: 100%;
    height: auto;
    /* object-fit: contain; */
}

/*  Nutrition Container */

/* Title/Logo */
.nutLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 330px;
}




/* Container Fitness */

.fitness {
    /* width: 1440px; */
    height: 896px;
}


/* Fitness Image Title */
.fitLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}


/* Container Image with text */
.fitness_show {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 18vh;
}

/* Image div */
.fitImg {
    padding-bottom: 14vh;
}

/* Text div */
.fitBooking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

/* Text to the left */
.fitBooking p {
    font-family: 'DIN';
    font-size: 5vh;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: normal;
    color: var(--black-two-kalim);
    padding-bottom: 2vh;
    text-align: center;

}

/* a to the left */
.fitBooking a {
    text-decoration: none;
    align-self: center;
    color: black;
    padding: 1vh 1.2vh 1vh 1.2vh;
    border-radius: 10px;
    border: solid 3px;
    border-color: var(--powder-pink-kalim);
    font-family: 'Montserrat';
    font-size: 2vh;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;


}

/* Line design */
div:empty {
    background-color: var(--powder-pink-kalim);
    width: 100%;
    height: 8px;
    margin-bottom: 7vh;
}

/* Footer Container */
/* .footer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* margin-bottom: 7.2vh;
    margin: 0 13vh 8vh 13vh; 
}
    */

/* Nav buttons */
.navFooter {
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* Nav Links */
.navFooter a {
    text-decoration: none;
    /* margin: 0 37px 18px 0; */
    font-family: 'DIN';
    /* font-size: 2.5vh; */
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--black-two-kalim);

}

/* Insta Div */
.contactFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text */
.contactFooter p {
    margin: 0 0 23px;
    font-family: 'DIN';
    font-size: 3vh;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--black-two-kalim);
}

.contactFooter img{
    width: 60px;
    height: 60px;
}


/* black end of page */
.bottomEnd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3vh;
    background-color: var(--black-two-kalim);

}

.bottomEnd p {
    font-family: 'DIN';
    font-size: 2vh;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: var(--powder-pink-kalim);

}

.first {
    margin-right: 23vh;
}





/* Nutrition bar testing */

/* This part is for the bigger part all of the container */
.section {
    width: 100%;
    /* min-height: 100vh; */
    font-size: 36px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--black-two-kalim);
}

/* Can be ignored */
.horizontal {
    /* background-color: violet; */
}


.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    /* background-color: yellow; */
   
}

.scroll::-webkit-scrollbar {
    display: none;
}

.item {
    width: 300px;
    min-width: 300px;
    /* height: 100px; */
    padding: 30px;
    /* background: #222; */
    color: #fff;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;

}
@media only screen and (max-width: 900px) {
    .navBtn{
        display: none;
    }

    .fitness_show{
      padding-top: 6vh;
      flex-direction: column;
      padding-bottom: 6vh;
       
    }
    .fitImg{
        padding-bottom: 0;
        order: 1;

    }
    .fitImg img{
        width: 90%;
    }
    .fitBooking p{
        font-size: 3.5vh;
    }
    
    .fitBooking a{
    font-size: 1.5vh;
    }
    
    div:empty{
        margin-bottom: 2vh;
    }
    

    /* Nav footer */
    /* .footer {
        display: flex;
        flex-direction: column;
    } */
    .navFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 63px;
    }

    .firstNav, .secondNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .secondNavFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footerLogo, .instagramLogo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .firstNav a, .secondNav a {
        font-family: "DIN";
        font-size: 25px;
        font-weight: bold;
        font-stretch: condensed;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: left;
        color: var(--black-two-kalim);
    }
}